<div class="light-wrapper">
	<div class="container inner tp0">
		<div class="swiper-container-wrapper image-blog-wrapper blog-carousel-wrapper blog-carousel-wrap">
		</div>
		<div class="divide60"></div>
		<div class="blog row">
			<div class="col-sm-8 blog-content list-view">
				<div class="blog-content">
					<div class="blog-post">
						<ng-template ngFor let-article [ngForOf]="articles" let-i="index">
							<div class="post row">
								<div class="col-md-5">
									<figure class="overlay">
										<a [routerLink]="['/article', article.clean_url]">
											<img [src]="article?.pictures[0]?.filepath ? (imgPath + article?.pictures[0]?.filepath) : 'assets/images/art/b1.jpg'"/>
										</a>
									</figure>
								</div>
								<!-- /column -->
								<div class="divide30 visible-xs visible-sm"></div>
								<div class="col-md-7">
									<div class="post-content">
										<span class="category">
											<em [ngClass]="article.em_tag">
												<a [routerLink]="['/search']" [queryParams]="{ tag : article?.tags[0]?.clean_url || 'other' }">
													{{ article?.tags[0]?.name || 'other' }}
												</a>
											</em>
										</span>
										<h3 class="post-title">
											<a [routerLink]="['/article', article.clean_url]">{{ article.title }}</a>
										</h3>
										<div class="meta">
											<span class="date">{{ article.publish_date | date }}</span>
											<span class="author">By <a href="#">{{ article.author_name }}</a></span>
											<span class="comments"><a href="#"><i class="ion-chatbubbles"></i> 9</a></span>
										</div>
										<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna.</p>
										<a [routerLink]="['/article', article.clean_url]" class="more">Read More</a>
									</div>
									<!-- /.post-content -->
								</div>
								<!-- /column -->
							</div>
							<!-- /.post -->
							<hr />
						</ng-template>
					</div>
					<!-- /.blog-posts -->
				</div>
				<!-- /.blog-content -->
				<!--
				<div class="page-navi meta" *ngIf="articles">
					<a href="#" class="pull-left"><i class="ion-android-arrow-back rp5"></i> Older Posts</a>
					<a href="#" class="pull-right">Newer Posts <i class="ion-android-arrow-forward lp5"></i></a>
				</div>
				-->
          		<!-- /.page-navi -->
			</div>
			<!-- /.blog-content -->
			<app-sidebar></app-sidebar>
			<!-- /column .sidebar -->
		</div>
		<!-- /.blog -->
	</div>
	<!-- /.container -->
</div>
<!-- /.light-wrapper -->