<div class="navbar navbar-default default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="header-left">
				<ul class="social">
					<li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
					<li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
					<li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
					<li> <a href="#"><i class="ion-social-vimeo"></i></a> </li>
				</ul>
			</div>
			<!-- /.header-left -->
			<div class="header-right">
				<div class="search-form">
					<form action="#">
						<fieldset>
							<input id="search" placeholder="Search" />
						</fieldset>
					</form>
				</div>
			</div>
			<!-- /.header-right -->
			<div class="nav-bars-wrapper">
				<div class="nav-bars-inner">
					<div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse"><span></span></div>
				</div>
			<!-- /.nav-bars-inner --> 
			</div>
			<!-- /.nav-bars-wrapper -->
		</div>
		<!-- /.navbar-header -->

		<div class="nav-wrapper">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="current"><a href="#">Blog <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li *ngFor="let item of categories">
								<a [routerLink]="['/category', item.clean_url]">{{ item.name }}</a>
							</li>
						</ul>
					</li>
					<li><a [routerLink]="['/about']">About</a></li>
					<li><a [routerLink]="['/contact']">Contact</a></li>
				</ul>
			</div>
		</div>
		<!--/.nav-wrapper --> 
	</div>
	<!--/.container-fluid --> 
</div>
<!-- /.navbar -->