<div class="modal-header">
    <h4 class="modal-title">Ticket Detail Order #: {{ mItem.code }} <span class="label label-info label-sm"> Email confirmation was sent </span></h4>
</div>
<div class="modal-body">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="portlet yellow-crusta box">
                    <div class="portlet-title">
                        <div class="caption">Order Infomation </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row static-info">
                            <div class="col-md-5 name"> Total: </div>
                            <div class="col-md-7 value"> {{ mItem.total_Fare }} </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name"> code: </div>
                            <div class="col-md-7 value"> {{ mItem.code }} </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name"> Order Date &amp; Time: </div>
                            <div class="col-md-7 value"> {{ mItem.created_at }} </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name"> Order Status: </div>
                            <div class="col-md-7 value">
                                <span ng-if="mItem.state == 'approve'" class="label label-success"> Approved </span>
                                <span ng-if="mItem.state != 'approve'" class="label label-info"> Pending </span>
                            </div>
                        </div>
                        <!-- <div class="row static-info">
                                        <div class="col-md-5 name"> Grand Total: </div>
                                        <div class="col-md-7 value"> $175.25 </div>
                                    </div> -->
                        <!-- <div class="row static-info">
                                        <div class="col-md-5 name"> Payment Information: </div>
                                        <div class="col-md-7 value"> Credit Card </div>
                                    </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="portlet blue-hoki box">
                    <div class="portlet-title">
                        <div class="caption">Customer Information </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row static-info">
                            <div class="col-md-5 name"> Customer Name: </div>
                            <div class="col-md-7 value"> {{ mItem.fullname }} </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name"> Email: </div>
                            <div class="col-md-7 value"> {{ mItem.email }} </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name"> Phone Number: </div>
                            <div class="col-md-7 value"> {{ mItem.phone }} </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name"> Requirement: </div>
                            <div class="col-md-7 value"> {{ mItem.requirement }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="portlet green-meadow box">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-cogs"></i>Billing Address </div>
                                    <div class="actions">
                                        <a href="javascript:;" class="btn btn-default btn-sm">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row static-info">
                                        <div class="col-md-12 value"> Jhon Done
                                            <br> #24 Park Avenue Str
                                            <br> New York
                                            <br> Connecticut, 23456 New York
                                            <br> United States
                                            <br> T: 123123232
                                            <br> F: 231231232
                                            <br> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="portlet red-sunglo box">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-cogs"></i>Shipping Address </div>
                                    <div class="actions">
                                        <a href="javascript:;" class="btn btn-default btn-sm">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row static-info">
                                        <div class="col-md-12 value"> Jhon Done
                                            <br> #24 Park Avenue Str
                                            <br> New York
                                            <br> Connecticut, 23456 New York
                                            <br> United States
                                            <br> T: 123123232
                                            <br> F: 231231232
                                            <br> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet grey-cascade box">
                    <div class="portlet-title">
                        <div class="caption">Ticket Details </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <!-- <th class="bs-checkbox " style="width: 36px; " data-field="state" tabindex="0">
                                            <div class="th-inner ">
                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input ng-click="onShowPassengers()" name="btSelectAll" type="checkbox"><span></span></label>
                                            </div>
                                        </th> -->
                                        <th> Ticket </th>
                                        <th> Adults </th>
                                        <th> Children </th>
                                        <th> Departure </th>
                                        <th> Total </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="detail in mItem.details">
                                        <!-- <td>
                                            <div class="th-inner ">
                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input ng-click="onShowPassengers($index)" name="btSelectAll" type="checkbox"><span></span></label>
                                            </div>
                                        </td> -->
                                        <td>{{ detail.ticket_name }}</td>
                                        <td>{{ detail.adult }} x {{ detail.adult_fare }}</td>
                                        <td>{{ detail.children }} x {{ detail.children_fare }} </td>
                                        <td>{{ detail.departure }}</td>
                                        <td> {{ detail.total | number }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="row">
            <div class="col-md-6"> </div>
            <div class="col-md-6">
                <div class="well">
                    <div class="row static-info align-reverse">
                        <div class="col-md-8 name"> Total: </div>
                        <div class="col-md-3 value"> {{ mItem.total_payment | number }}  </div>
                    </div>
                   
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal" ng-click="close()">Close</button>
    <button type="button" class="btn blue" ng-click="onApprove()">Approve</button>
</div>
