
<div class="modal-header">
  <h4 class="modal-title">Add New Airline</h4>
</div>
<div class="modal-body">

  <div class="portlet-body form">
    <form role="form">
      <div class="form-body">
        <div class="form-group form-md-line-input form-md-floating-label" ng-class="{'has-error': errorMsg.name.length}">
          <input type="text" class="form-control" ng-model="mItem.name">
          <label for="form_control_1">Name</label>
          <span ng-show="errorMsg.name.length" class="help-block">{{ errorMsg.name[0] }}</span>

        </div>

        <div class="form-group form-md-line-input form-md-floating-label" >
          <input type="text" class="form-control" format="number" ng-model="mItem.infant_fare">
          <label for="form_control_1">Infant Fare</label>
        </div>

        <!-- <div class="form-group form-md-line-input form-md-floating-label" >
          <input type="text" class="form-control" format="number" ng-model="mItem.vat">
          <label for="form_control_1">VAT</label>
        </div> -->

        <div class="form-group form-md-line-input form-md-floating-label" >
          <input type="text" class="form-control" format="number" ng-model="mItem.admin_fee">
          <label for="form_control_1">Admin Fee</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label" >
          <input type="text" class="form-control" format="number" ng-model="mItem.adult_airport_fee">
          <label for="form_control_1">Adult Airport Fee</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label" >
          <input type="text" class="form-control" format="number" ng-model="mItem.child_airport_fee">
          <label for="form_control_1">Children Airport Fee</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label" >
          <input type="text" class="form-control" format="number" ng-model="mItem.adult_security_fee">
          <label for="form_control_1">Adult Security Fee</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label" >
          <input type="text" class="form-control" format="number" ng-model="mItem.child_security_fee">
          <label for="form_control_1">Children Security Fee</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label" >
          <input type="text" class="form-control" format="number" ng-model="mItem.other_tax">
          <label for="form_control_1">Other Tax</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label" >
          <input type="text" class="form-control" format="number" ng-model="mItem.payment_fee">
          <label for="form_control_1">Payment Fee</label>
        </div>

      </div>

    </form>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn default" data-dismiss="modal" ng-click="close()">Close</button>
  <button type="button" class="btn blue" ng-click="save()" >Save</button>
</div>