<div class="google-map h450">
	<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="14">
		<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
	</sebm-google-map>
</div>
<div class="light-wrapper">
	<div class="container inner">
		<div class="row">
			<div class="col-sm-8">
				<h2 class="section-title">Get in Touch</h2>
				<p>Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat.</p>
				<div class="divide10"></div>
				<div class="form-container">
					<form #f="ngForm" autocomplete="off" >
						<div class="row">
							<div class="col-sm-6 rp10">
								<div class="form-field">
									<label>
										<input type="text" name="name" placeholder="Your name" [(ngModel)]="contact.name" required="required">
									</label>
								</div>
                  				<!--/.form-field --> 
							</div>
							<!--/column -->
							<div class="col-sm-6 rp10">
								<div class="form-field">
									<label>
										<input type="email" name="email" placeholder="Your e-mail" [(ngModel)]="contact.email" required="required">
									</label>
								</div>
								<!--/.form-field --> 
							</div>
							<!--/column -->
							<div class="col-sm-6 rp10">
								<div class="form-field">
									<label>
										<input type="tel" name="phone" [(ngModel)]="contact.phone" placeholder="Phone">
									</label>
								</div>
								<!--/.form-field -->
							</div>
							<!--/column -->
							<div class="col-sm-6 rp10">
								<div class="form-field">
									<label>
										<input type="text" name="title" [(ngModel)]="contact.title" placeholder="Title">
									</label>
								</div>
								<!--/.form-field --> 
							</div>
							<!--/column -->
							<div class="col-sm-12">
								<textarea name="content" placeholder="Type your message here..." [(ngModel)]="contact.content" required="required"></textarea>
								<div class="radio-set">
									<label>Subject:</label>
									<label>
										<input type="radio" name="subject" value="General">
										<span><!-- fake radio --></span> General
									</label>
									<label>
										<input type="radio" name="subject" value="Hi">
										<span><!-- fake radio --></span> Say Hi
									</label>
									<label>
										<input type="radio" name="subject" value="Other">
										<span><!-- fake radio --></span> Other
									</label>
								</div>
								<!--/.radio-set -->
								<input (click)="onSubmitContact(f)" type="button" class="btn" value="Send" data-error="Fix errors" data-processing="Sending..." data-success="Thank you!" [disabled]="!f.valid">
								<footer class="notification-box"></footer>
							</div>
                			<!--/column --> 
						</div>
					</form>
				</div>
				<!--/.form-container --> 
			</div>
			<!--/column -->
			<aside class="col-sm-4 sidebar">
				<div class="sidebox widget">
					<h2 class="section-title widget-title">Address</h2>
					<p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur.</p>
					<address>
						<strong>Lighthouse Blog.</strong><br>
						60 Nguyen Dinh Chieu <br>
						District 3, Ho Chi Minh City<br>
						<abbr title="Phone">P:</abbr> 00 (123) 456 78 90 <br>
						<abbr title="Email">E:</abbr> <a href="mailto:#">first.last@email.com</a>
					</address>
				</div>
			</aside>
			<!--/column --> 
		</div>
		<!--/.row --> 
	</div>
	<!-- /.container -->
</div>
<!-- /.light-wrapper -->