<div class="light-wrapper">
	<div class="container inner tp0">
		<div class="row">
			<div class="col-md-5 rp20 bm20">
				<figure><img src="assets/images/art/about.jpg" alt="" /></figure>
			</div>
			<!-- /column -->
			<div class="col-md-7">
				<h2 class="section-title">Who is Behind?</h2>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit, fusce dapibus, tellus ac.</p>
				<blockquote>
					<p> Pellentesque non diam et tortor dignissim bibendum. Neque sit amet mauris egestas quis mattis velit fringilla. Curabitur viver justo sed scelerisque. Cras mattis consectetur purus sit amet fermentum.</p>
				</blockquote>
				<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				<h2 class="section-title">Elsewhere</h2>
				<ul class="social">
					<li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
					<li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
					<li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
					<li> <a href="#"><i class="ion-social-vimeo"></i></a> </li>
					<li> <a href="#"><i class="ion-social-linkedin"></i></a> </li>
				</ul>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<!-- /.light-wrapper -->
<div class="dark-wrapper">
	<div class="container inner">
		<h2 class="section-title text-center">Instagram Feed</h2>
		<div class="tiles instagram">
			<div id="instafeed" class="items row row-offset-0"></div>
		</div>
		<!--/.tiles -->
		<div class="divide30"></div>
		<div class="text-center">
			<a href="https://www.instagram.com/urbanshots/" class="btn">Instagram page</a>
		</div>
	</div>
	<!-- /.container --> 
</div>
<!-- /.dark-wrapper -->