<div class="light-wrapper">
	<div class="container inner tp0">
		<div class="blog row">
			<div class="col-sm-8">
				<div class="blog-content classic-view">
					<div class="blog-posts">
						<div class="post">
							<div class="post-content">
								<figure *ngIf="pictures[0]?.filepath"><img src="{{ imgPath + pictures[0]?.filepath }}" alt="" /></figure>
								<h1 class="post-title text-center">{{ article.title }}</h1>
								<div class="meta text-center">
									<span class="date">{{ article.publish_date | date }}</span>
									<span class="author">By 	<a href="#">Juno</a></span>
									<span class="comments"><a href="#">3 Comments</a></span>
								</div>
								<div [innerHTML]="article.content"></div>
								<div class="footer-meta meta">
									<div class="tags pull-left">
										<a href="#">journal</a>, <a href="#">illustration</a>, <a href="#">design</a>, <a href="#">daily</a>
									</div>
									<div class="pull-right">
										<div class="btn-group share-button">
											<a href="#" class="share-links dropdown-toggle ion-heart" data-toggle="dropdown"><span>Share</span></a>
											<ul class="dropdown-menu">
												<li><a href="#" class="ion-social-facebook"><span>Like It</span></a></li>
												<li><a href="#" class="ion-social-twitter"><span>Tweet It</span></a></li>
												<li><a href="#" class="ion-social-pinterest"><span>Pin It</span></a></li>
												<li><a href="#" class="ion-android-mail"><span>Email It</span></a></li>
											</ul>
											<!-- /.dropdown-menu --> 
										</div>
										<!-- /.btn-group --> 
									</div>
                    				<div class="clearfix"></div>
								</div>
								<!-- /.footer-meta -->
								<hr />
								<div class="post-nav-wrapper">
									<div class="post-nav prev" *ngIf="prev_article">
										<div class="meta"><i class="ion-android-arrow-back"></i> Previous Article</div>
										<h3 class="post-title"><a [routerLink]="['/article', prev_article.clean_url]">{{ prev_article.title }}</a></h3>
									</div>
									<div class="post-nav next" *ngIf="next_article">
										<div class="meta">Next Article <i class="ion-android-arrow-forward"></i></div>
										<h3 class="post-title"><a [routerLink]="['/article', next_article.clean_url]">{{ next_article.title }}</a></h3>
									</div>
								</div>
								<!-- /.post-nav -->
								<hr />
								<h2 class="section-title">About the Author</h2>
								<div class="about-author text-left">
									<div class="author-image"><img alt="" src="assets/images/art/author.jpg" /></div>
									<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac.</p>
									<ul class="social">
										<li> <a href="#"><i class="ion-social-facebook"></i></a> </li>
										<li> <a href="#"><i class="ion-social-twitter"></i></a> </li>
										<li> <a href="#"><i class="ion-social-instagram"></i></a> </li>
										<li> <a href="#"><i class="ion-social-vimeo"></i></a> </li>
										<li> <a href="#"><i class="ion-social-linkedin"></i></a> </li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<!-- .about-author -->
								<hr />
								<h2 class="section-title">Related Posts</h2>
								<div class="blog list-view row">
									<div class="col-sm-6" *ngFor="let item of articles">
										<div class="post row">
											<div class="col-md-5">
												<figure class="overlay small"><a [routerLink]="['/article', item.clean_url]"> <img src="{{ imgPath + item.pictures[0]?.filepath }}" alt="" /></a></figure>
											</div>
											<!-- /column -->
											<div class="col-md-7">
												<div class="post-content">
													<h4 class="post-title"><a [routerLink]="['/article', item.clean_url]">{{ item.title }}</a></h4>
												</div>
												<!-- /.post-content -->
											</div>
											<!-- /column -->
										</div>
										<!-- /.post -->
									</div>
									<!-- /column -->
								</div>
								<!-- /.row -->
							</div>
						</div>
						<!-- /.post --> 
					</div>
					<!-- /.blog-posts --> 
				</div>
				<!-- /.classic-view -->
			</div>
			<!-- /.blog-content -->
			<aside class="col-sm-4 sidebar">
				<div class="sidebox widget">
					<h3 class="widget-title section-title">About Us</h3>
				</div>
				<!-- /.widget -->
				<div class="sidebox widget">
					<h3 class="widget-title section-title">Popular Posts</h3>
					<ul class="post-list">
						<li *ngFor="let post of posts">
							<figure class="overlay small">
								<a [routerLink]="['/article', post.clean_url]">
									<img src="{{ imgPath + post?.pictures[0]?.img }}" alt="{{ post.title }}" />
								</a> 
							</figure>
							<div class="post-content">
								<h4 class="post-title">
									<a [routerLink]="['/article', post.clean_url]">{{ post.title }}</a>
								</h4>
								<div class="meta">
									<span class="date">{{ post.publish_date | date }}</span>
									<span class="comments">
										<a href="#"><i class="ion-chatbubbles"></i> 6</a>
									</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- /.widget -->
				<div class="sidebox widget">
					<h3 class="widget-title section-title">Categories</h3>
					<ul class="list circled">
						<li  *ngFor="let item of categories">
							<a [routerLink]="['/category', item.clean_url]">{{ item.name }} ({{ item.number }})</a>
						</li>
					</ul>
				</div>
				<!-- /.widget -->
				<div class="sidebox widget">
					<h3 class="widget-title section-title">Tags</h3>
					<ul class="tag-list">
						<li *ngFor="let tag of tags">
							<a [routerLink]="['/search']" [queryParams]="{ tag : tag.clean_url }" class="btn">
								{{ tag.name }}
							</a>
						</li>
					</ul>
				</div>
				<!-- /.widget -->
				<div class="sidebox widget">
				    <h3 class="widget-title section-title">Instagram</h3>
				    <div class="tiles instagram">
				        <div id="instafeed-widget" class="items row row-offset-0"></div>
				    </div>
				    <!--/.tiles -->
				</div>
				<!-- /.widget -->
				<div class="sidebox widget">

				</div>
				<!-- /.widget -->
			</aside>
			<!-- /column .sidebar -->
		</div>
		<!-- /.blog -->
	</div>
	<!-- /.container --> 
</div>
<!-- /.light-wrapper -->
<div class="dark-wrapper">
	<div class="container inner">
		<h2 class="section-title text-center">Instagram Feed</h2>
		<div class="tiles instagram">
			<div id="instafeed" class="items row row-offset-0"></div>
		</div>
		<!--/.tiles -->
		<div class="divide30"></div>
		<div class="text-center"><a href="https://www.instagram.com/urbanshots/" class="btn">Instagram page</a></div>
	</div>
</div>
 <!-- /.dark-wrapper -->