<div class="light-wrapper">
    <div class="swiper-container-wrapper image-blog-wide-wrapper blog-carousel-wrapper blog-carousel-wrap">
    	<div class="swiper-container image-blog-wide blog-carousel" >
		    <div class="swiper-wrapper">
		        <!-- loop slides -->
		        <div class="swiper-slide" *ngFor="let slide of slides; let i = index;">
		            <figure>
		                <div class="caption">
		                    <div class="info">
		                        <div class="text">
		                            <div class="text-center">
		                                <span class="category"><em class="forest"><a href="#">Conceptual</a></em></span>
		                            </div>
		                            <h2 class="post-title text-center"><a href="blog-post.html">{{ slide.title }}</a></h2>
		                            <div class="meta text-center">
		                                <span class="date">12 Nov 2014</span>
		                                <span class="author">By <a href="#">Juno</a></span>
		                                <!--<span class="comments"><a href="#">3 Comments</a></span>-->
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <img src="{{ slidePath + slide.filepath }}" alt="" />
		            </figure>
		        </div>
		        <!-- end loop slides -->
		    </div>            
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next btn"></div>
		<div class="swiper-button-prev btn"></div>
    </div>
    
    <div class="container inner">
        <div class="blog row">
            <div class="col-sm-8">
                <div class="grid-view">
                    <div class="row blog-posts blog-content">

                    	<ng-template ngFor let-article [ngForOf]="articles" let-i="index">
                            <!-- loop here -->

                            <div class="post col-sm-12 col-md-6">
	                            <figure class="overlay">
	                                <a [routerLink]="['/article', article.clean_url]">
	                                	<img [src]="article?.pictures[0]?.filepath ? (imgPath + article?.pictures[0]?.filepath) : 'assets/images/art/b1.jpg'" alt="" />
	                                </a>
	                            </figure>
	                            <div class="post-content">
	                                <div class="text-center">
	                                	<span class="category">
	                                		<em class="rose">
												<a [routerLink]="['/search']" [queryParams]="{ tag : article?.tags[0]?.clean_url || 'other' }">
													{{ article?.tags[0]?.name || 'other' }}
												</a>
	                                		</em>
	                                	</span>
	                                </div>
	                                <h3 class="post-title"><a [routerLink]="['/article', article.clean_url]">{{ article.title }}</a></h3>
	                                <div class="meta text-center">
	                                	<span class="date">{{ article.publish_date | date }}</span>
	                                	<span class="author">By <a href="#">{{ article.author_name }}</a></span>
	                                	<!--<span class="comments"><a href="#"><i class="ion-chatbubbles"></i> 6</a></span>-->
	                                </div>
	                                <p>{{ article.description }}</p>
	                                <div class="text-center">
	                                	<a [routerLink]="['/article', article.clean_url]" class="more">Continue Reading</a>
	                                </div>
	                            </div>
	                            <!-- /.post-content -->
	                        </div>
	                        <!-- /.post -->
	                        <hr />
                        </ng-template>

                    </div>
                    <!-- /.blog-posts -->
                </div>
                <!-- /.grid-view -->
                <div class="clearfix"></div>
            </div>
            <!-- /.blog-content -->
            <app-sidebar></app-sidebar>
        </div>
        <!-- /.blog -->
    </div>
    <!-- /.container -->
</div>
<!-- /.light-wrapper -->
<div class="dark-wrapper">
    <div class="container inner">
        <h2 class="section-title text-center">Instagram Feed</h2>
        <div class="tiles instagram">
            <div id="instafeed" class="items row row-offset-0"></div>
        </div>
        <!--/.tiles -->
        <div class="divide30"></div>
        <div class="text-center">
            <a href="https://www.instagram.com/urbanshots/" class="btn">Instagram page</a>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.dark-wrapper -->
